/problema1/Problema001/nbproject/private/
/problema1/Problema001/build/
/problema4/Problema004/nbproject/private/
/problema4/Problema004/build/
/problema2/problema002/nbproject/private/
/problema2/problema002/build/
/problema2/JavaApplication18/nbproject/private/
/problema3/problema003/nbproject/private/
/problema3/problema003/build/
